.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    background: grey;
}

.phone-input {
    margin-top: 8px;
    .form-control {
        width: 100% !important;
        padding: 21px 0;
        font-size: 18px !important;
    }
}